/Temp
/Library
/*.csproj
/*.sln
/.vscode/settings.json
/ProjectSettings/ProjectVersion.txt
/obj/
/out/
/Assets/scene.unity*
/Assets/VSCode*
/.vscode/

/.idea/
/Assets/Plugins.meta
/Assets/Plugins/Editor.meta
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Editor/JetBrains/

/Assets/Editor.meta
/Assets/Editor/Resources.meta
/Assets/Editor/Resources/OneLine.meta
/Assets/Editor/Resources/OneLine/
